//- This file defines the list mixin for events
//- mixins allow for code reuse by functionizing common html blocks
//- https://pugjs.org/language/mixins.html

mixin event-list(name, events)
  .event-box
    h1=name
    table.table.table-hover
      thead
        tr
          th Title
          th Start Time
          th.disp-col End Time
          th Location
          //- Yes or no value for public events - only for super users
          if user && user.super_user
            th Public
          th Details
      tbody
        each event in events
          //- TODO - color code based on if event has happened
          //- Convert dates to nicer looking values
          //- date to string adds time zone information we want to remove - split on spaces and remove, then rejoin
          - start_time = String(event.start_time).split(' ').slice(0, 5).join(' ')
          - end_time = String(event.end_time).split(' ').slice(0, 5).join(' ')
          tr
            td=event.title
            td=start_time
            td.disp-col=end_time
            td=event.location
            //- Yes or no value for public events - only for super users
            if user && user.super_user
              if event.public
                td Yes
              else
                td No
            td
              //- Link to event details page
              a(href='/event/' + event.id) View  