extends layout
//- mixin for list of events
include ./event/mixins/list.pug

block content
  //- Only insert featured member if there is a member to feature
  if member
      h1 Featured Member
      span #{member.first_name} #{member.last_name}
      span #{member.major}-#{member.grad_year}
      div=member.hometown
      div=member.coops

  +event-list('Upcoming Events', events)
  +event-list('Next Meeting', meetings)
