//- @param renderHours - boolean to render the hours section of the profile
extends ../layout

block content
  //- TODO - picture
  h1=member.first_name+' '+member.last_name
  h4=member.major+' '+member.grad_year
  div=member.hometown
  if member.minors
    h3 Minors
    div=member.minors
  if member.accend
    h3 Accend student
  h3 Coops
  div=member.coops
  if member.clubs
    h3 Club
    div=member.clubs

  if renderHours
    h1 Hours
    label Completed hours
    p=service
    label Meetings
    p=meetings
    label Hours not needed
    p=serviceNotNeeded