//- @param renderHours - boolean to render the hours section of the profile
extends ../layout
//- include event list mixin
include ../event/mixins/list.pug

block content
  //- TODO - picture
  h1=member.first_name+' '+member.last_name
  h4=member.major+' '+member.grad_year
  div=member.hometown
  if member.minors
    h3 Minors
    div=member.minors
  if member.accend
    h3 Accend student
  h3 Coops
  div=member.coops
  if member.clubs
    h3 Club
    div=member.clubs

  if renderHours
    h1 Hours
    label Completed hours
    p=service
    label Meetings
    p=meetings
    label Hours not needed
    p=serviceNotNeeded
    +event-list("Unconfirmed Events", unconfirmedEvents)
    +event-list("Confirmed Events", confirmedEvents)
    +event-list("Not Needed Events", notNeededEvents)
    +event-list("Confirmed Meetings", confirmedMeetings)
    +event-list("Unconfirmed Meetings", unconfirmedMeetings)