//- @param renderHours - boolean to render the hours section of the profile
extends ../layout
//- include event list mixin
include ../event/mixins/list.pug

block content
  div
    img(src='/images/default-profile-picture.jpg', style="height:100px;")
  h1=member.first_name+' '+member.last_name
  h4=member.major+' '+member.grad_year
  div=member.hometown
  if member.minors
    h3 Minors
    div=member.minors
  if member.accend
    h3 Accend student
  h3 Coops
  div=member.coops
  if member.clubs
    h3 Club
    div=member.clubs

  if renderHours
    h1 Hours
    label Completed hours
    p=service
    label Meetings
    p=meetings
    label Hours not needed
    p=serviceNotNeeded
    +event-list("Unconfirmed Events", unconfirmedEvents)
    +event-list("Confirmed Events", confirmedEvents)
    +event-list("Not Needed Events", notNeededEvents)
    +event-list("Confirmed Meetings", confirmedMeetings)
    +event-list("Unconfirmed Meetings", unconfirmedMeetings)
  //- show escalation UI and not current user
  if user && user.super_user && user.id !== member.id
    h1 Modify Member
    h2 Meta Attributes
    if member.super_user
      //- descalate super user
      form(id='superUserDemote', action='/member/' + member.id + '/update-attributes?super_user=false', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='submit', name='demote', value='Demote Super User')    
    if !member.super_user
      //- escalate to super user
      form(id='superUserElevate', action='/member/' + member.id + '/update-attributes?super_user=true', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='submit', name='elevate', value='Elevate to Super User')
    if member.private_user
      //- set to public
      form(id='publicUser', action='/member/' + member.id + '/update-attributes?private_user=false', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='submit', name='elevate', value='Set profile to public')   
    if !member.private_user
      //- set to private
      form(id='privateUser', action='/member/' + member.id + '/update-attributes?private_user=true', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='submit', name='elevate', value='Set profile to private')
    h2 Delete Member
    form(id='deleteMember', action='/member/' + member.id + '/delete', method='post' onSubmit="return confirm('This will permanently delete this member. Proceed?')")
      input(type='hidden', name='_csrf', value=csrfToken)
      input(type='submit', name='delete', value='Delete Member')
