extends ../layout

block content
  h1 Profile
  a(href='/member/' + user.id) View your profile
  //- because form-data is uploaded in chunks, csrf validation fails if the token doesn't arrive in the first chunk,
    which it usually doesn't. We can fix this, for better or worse, by appending the csrf token to the request as a param
  form(id='updateProfile', action='member/profile/update?_csrf=' + csrfToken, enctype="multipart/form-data", method='post')
    h2 Personal Information
    div
      label First Name:
      input(type='text', name='firstName', value=user.first_name)
    div
      label Last Name:
      input(type='text', name='lastName', value=user.last_name)
    div
      label Hometown:
      input(type='text', name='hometown', value=user.hometown)
    div
      label Picture:
      input(type='file', name='picture')
    div Please select a square-ish image no larger than 5MB in size.
    h2 School Information
    div
      label Major:
      input(type='text', name='major', value=user.major)
    div
      label Graduation Year:
      input(type='text', name='gradYear', value=user.grad_year)
    div
      label ACCEND
      input(type='checkbox', name='accend', checked=user.accend)
    div
      label Minors:
      input(type='text', name='minors', value=user.minors)
    div
      label Clubs:
      //- TODO - probably make this a text area
      input(type='text', name='clubs', value=user.clubs)
    div
      label Co-ops:
      //- TODO - probably make this a text area
      input(type='text', name='coops', value=user.coops)
    input(type='submit', name='submitProfile', value='Submit Changes')

  //- Profile edit details
  h1 Account
  form(id='changePassword', action='change-password', method='post')
    input(type='hidden', name='_csrf', value=csrfToken)
    h2 Change Password
    div 
      label Current Password: 
      input(type='password', name='currentPassword')
    div
      label New Password: 
      input(type='password', name='newPassword')
    div
      label Repeat New Password: 
      input(type='password', name='repeatNewPassword')
    input(type='submit', name='changePassword', value='Change Password')

  //- If user is a super user, they can modify their meta attribute status'
  if user && user.super_user
    h1 Account Meta Attributes
    if user.super_user
      //- descalate super user
      form(id='superUserDemote', action='/member/' + user.id + '/update-attributes?super_user=false', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='submit', name='demote', value='Demote yourself from super user')    
    if user.private_user
      //- set to public
      form(id='publicUser', action='/member/' + user.id + '/update-attributes?private_user=false', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='submit', name='elevate', value='Set profile to public')   
    if !user.private_user
      //- set to private
      form(id='privateUser', action='/member/' + user.id + '/update-attributes?private_user=true', method='post')
        input(type='hidden', name='_csrf', value=csrfToken)
        input(type='submit', name='elevate', value='Set profile to private')
  