//- This file defines the card mixin for members
//- mixins allow for code reuse by functionizing common html blocks
//- https://pugjs.org/language/mixins.html

mixin member-card(member)
  div.member-card
    div.image-cropper
      if member.path_to_picture
        img.member-photo(src='/' + member.path_to_picture)
      else
        img.member-photo(src='/images/default-profile-picture.jpg')
    div.member-card-info
      a.member-name(href='/member/' + member.id) #{member.first_name} #{member.last_name}
      p.email #{member.email}
      p.major #{member.major}
      if member.grad_year
        p.class='Class of ' + member.grad_year
      if member.coops
        p.coop= 'Co-ops: ' + member.coops
      if user && user.super_user 
        p.is_certified #{member.is_certified ? "Certified" : "Not Certified"}
      //- list points for member if the user super user
      //- TODO: currently only does this if a user is logged in
      //if user
      //  //- not in a human friendly format, but not a big deal right now - will
      //  //- need fixed on the backend
      //  div=member.service + ' Points'
      //  div=member.meetings + ' Meetings'
      //  div=member.service_not_needed + ' '

      //- other options for data on this card if it looks too empty
      //- member.hometown
      //- member.minors
      //- minor.accend (true or false value though)
      //- member.clubs