//- This file defines the card mixin for members
//- mixins allow for code reuse by functionizing common html blocks
//- https://pugjs.org/language/mixins.html

mixin member-card(member)
  div
    img(src='/images/default-profile-picture.jpg', style="height:100px;")
    a(href='/member/' + member.email + '/profile') #{member.first_name} #{member.last_name}
    p #{member.email}
    p #{member.major}
    p #{member.grad_year}
    p #{member.coops}
    p #{member.grad_year}
    //- list hours for member if the user super user
    //- TODO: currently only does this if a user is logged in
    if user
      //- not in a human friendly format, but not a big deal right now - will
      //- need fixed on the backend
      div=member.service
      div=member.meetings
      div=member.service_not_needed

    //- other options for data on this card if it looks too empty
    //- member.hometown
    //- member.minors
    //- minor.accend (true or false value though)
    //- member.clubs