mixin member-table(members, title)
    h1.points-table=title
    table.table
        thead
            tr
                th Name
                th Email
                th Major
                th Meetings
                th Points
                th Not Needed
                th Certified
        each member in members
            tr
                td #{member.first_name} #{member.last_name}
                td #{member.email}
                td #{member.major}
                td #{member.meetings}
                td #{member.service}
                td #{member.service_not_needed}
                td #{member.is_certified ? "Yes" : "No"}

