//- @param unconfirmedAttendees - attendees that are unconfirmed
extends ../layout
//- import the member-card mixin
include ../member/mixins/list.pug

block content
  h1
    if event.meeting
      span Meeting -
    else
      span Event -
    //- Adds space between first part and second part
    = ' '
    span= event.title
  h3=event.start_time
  h3=event.end_time
  h3=event.location
  h4=event.description
  h3=event.meeting

  //- show sign up if it's an event and they're logged in, or if its a meeting and they're a super user
  if user && (!event.meeting || user.super_user)
    h2 Sign Up
    form(id='signUp', action='/event/' + event.id + '/signup' , method='post')
      input(type='hidden', name='_csrf', value=csrfToken)
      input(type='submit', name='Sign Up', value='Sign Up')
  if user && user.super_user
    h2 Sign Up Another Member
    form(id='signUpMember', action='/event/' + event.id + '/signup' , method='post')
      input(type='hidden', name='_csrf', value=csrfToken)
      label Member Email:
      input(type='text', name='email', placeholder='bearcat@mail.uc.edu')
      input(type='submit', name='Sign Up Member', value='Sign Up Member')
    

  //- Display only for logged in super users
  if user && user.super_user
    if !event.meeting && unconfirmedAttendees.length > 0
      h2 Confirm Attendance
      table
        thead
          tr
            th Member
            th Confirm
            th Not Needed
            th Did Not Attend
        tbody
          each member in unconfirmedAttendees
            tr
              td=member.first_name+' '+member.last_name
              td
                form(id='confirmAttendance', action='/event/' + event.id + '/confirm?member=' + member.id + '&status=confirmed', method='post')
                  input(type='hidden', name='_csrf', value=csrfToken)
                  input(type='submit', name='Confirm', value='Confirm')
              td
                form(id='notNeededAttendance', action='/event/' + event.id + '/confirm?member=' + member.id + '&status=notNeeded', method='post')
                  input(type='hidden', name='_csrf', value=csrfToken)
                  input(type='submit', name='NotNeeded', value='Not Needed')
              td
                form(id='denyAttendance', action='/event/' + event.id + '/confirm?member=' + member.id + '&status=denied', method='post')
                  input(type='hidden', name='_csrf', value=csrfToken)
                  input(type='submit', name='Deny', value='Did Not Attend')
    if confirmedAttendees.length > 0
      +member-list(confirmedAttendees, "Confirmed")
    if notNeededAttendees.length > 0
      +member-list(notNeededAttendees, "Not needed")
  else
    //- Show normal users a combination of unconfirmed and confirmed members
    +member-list(unconfirmedAndConfirmedAttendees, "Attendees")
  //- edit and delete options
  if user && user.super_user
    h2 Event Options
    a.btn.btn-danger(href='/event/' + event.id + '/edit') Edit Event
    form(id='deleteEvent', action='/event/' + event.id + '/delete', method='post' onSubmit="return confirm('This will permanently delete the event. Proceed?')")
      input(type='hidden', name='_csrf', value=csrfToken)
      input(type='submit', name='delete', value='Delete Event')
