extends ../layout

block content
  //- TODO - only if super user
  if user
    a.btn.btn-danger(href='/event/create') Create Event
  .meeting-box
    h1 Meetings
    table.table.table-hover
      thead
        tr
          th Meeting Title
          th Start Time
          th.disp-col End Time
          th Location
          th Details
      tbody
        each meeting in meetings
          //- TODO - color code based on if event has happened
          tr
            td=meeting.title
            td=meeting.start_time
            td.disp-col=meeting.end_time
            td=meeting.location
            td
              //- Link to event details page
              a(href='/event/details/' + meeting.id) View
  .event-box
    h1 Events
    table.table.table-hover
      thead
        tr
          th Event Title
          th Start Time
          th.disp-col End Time
          th Location
          th Details
      tbody
        each event in events
          //- TODO - color code based on if event has happened
          tr
            td=event.title
            td=event.start_time
            td.disp-col=event.end_time
            td=event.location
            td
              //- Link to event details page
              a(href='/event/details/' + event.id) View